 <link rel="stylesheet" href="../../public/css/style.css">
 <article class="Post">
      <div class = "content">
        <p>User Name: {{Posts.[0].user.username}}</p>
        <p>Posts: {{Posts.length}}</p>
        <a href="/dashboard/edituser">Edit My Info</a>
      </div>
    </article>
