<link rel="stylesheet" href="../public/css/style.css">
<div>
<section class="row">
  <div class = "column">
    <h2>Create New Post</h2>

    <form class="new-Post-form">
      <div>
        <label for="Post-title">Title</label>
        <input type="text" id="Post-title" name="Post-title" />
      </div>
      <div>
        <label for="Post-text">Text</label>
        <textarea id="Post-text" name="Post-text"></textarea>
      </div>
      <button type="submit" class="btn">Create</button>
    </form>
  </div>
  <div class = "column">
    <h2>About Me</h2>
    {{> user-info}}
  </div>

</section>

{{#if Posts.length}}
<section>
  <h2>Your Posts</h2>
  <ol>
    {{#each Posts as |Post|}}
    <li>
      {{> post-info Post}}
      <a href="/dashboard/edit/{{Post.id}}" class="edit-link">Edit Post</a>
    </li>
    {{/each}}
  </ol>
</section>
{{/if}}
</div>